<!DOCTYPE html>
<html>
<head>
    <title>UniGuide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="title" content="Podaci o fakultetima sveučilišta u Zagrebu">
    <meta name="description" content="Korisni podaci o fakultetima Sveučilišta u Zagrebu">
    <meta name="author" content="Ante Volarević">
    <meta name="keywords" content="fakulteti, informacije, CSV, JSON">
    <meta name="language" content="hrvatski">
    <link rel="stylesheet" type="text/css" href="/styles/indexStyles.css">
    <link rel="icon" href="/unizg-logo.png" type="image/png">
</head>
<body>
    <header>
        <h1>Dobrodošli na UniGuide</h1>
        <nav>
            UniGuide je web stranica napravljena u svrhu laboratorijskih vježbi kolegija Otvoreno računarstvo.
            <ul>
                <li>Sadržaj: </li>
                <li>O nama</li>
                <li><a href="/datatable.html">Baza podataka</a></li>
                <li>Dostupne datoteke</li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="oNama">
            <div id="prvi">
                <h2>O nama</h2>
                <p>U ovom poglavlju predstaviti ćemo Vam osnovne informacije o našoj web stranici:</p>
                <ul>
                    <li><b>Naslov:</b> Podaci o fakultetima sveučilišta u Zagrebu</li>
                    <li><b>Autor:</b> Ante Volarević</li>
                    <li><b>JMBAG:</b> 0036541973</li>
                    <li><b>Verzija:</b> 2.0</li>
                    <li><b>Licencija:</b> <b><a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1">  CC BY-SA 4.0</a></b></li>
                    <li><b>Jezik:</b> hrvatski</li>
                    <li><b>Opis:</b> Korisni podaci o fakultetima Sveučilišta u Zagrebu</li>
                    <li><b>Tip datoteka u repozitoriju:</b>  <u>CSV i JSON</u></li>
                    <li><b>Datum kreiranja:</b> 29.10.2023.</li>
                    <li><b>Datum zadnje izmjene i objave:</b> 12.11.2023.</li>
                </ul>
            </div>
            <div id="drugi">
                <a href="/datatable"><img src="/images/database_image.png" alt="/database_image"></a>
                <br>
                <p><b>Kliknite na fotografiju za više informacija!</b></p>
            </div>
        </section>

        <section id="dolje">
            <h2>Dostupne datoteke</h2>
            <ul>
                <li><a href="/files/Podaci_o_fakultetima.json" download>
                    <img src="/images/JSON.png" alt="JSON">
                    JSON
                </a></li>
                <li><a href="/files/Podaci_o_fakultetima.csv" download>
                    <img src="/images/CSV.png" alt="CSV">
                    CSV
                </a></li>
            </ul>
    </section>
</main>

<footer>
    <p>&copy; 2023 UniGuide</p>
    <p>Author: Ante Volarević</p>
</footer>
</body>
</html>
